<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>SAP Media</title>
  </head>
  <body>
    <nav class="navbar is-link">
      <!--Navbar-->
      <div class="container">
        <div class="navbar-brand">
          <h1 class="title has-text-white">Add Movie</h1>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="home.html" class="navbar-item">Home</a>
            <a href="{{ url_for('addmovie')}}" class="navbar-item">Add Movie</a>
            <a href="login.html" class="navbar-item">Login</a>
            <a href="profile.html" class="navbar-item">Profile Page</a>
            <a href="editmovie.html" class="navbar-item">Edit Movie</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="hero is-primary is-fullheight has-background-black">
      <!--Background color-->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-6">
              <form action="{{ url_for('addmovie')}}" method="post" class="box">
                <div class="field">
                  <div class="msg">{{ msg }}</div>
                  <label class="label"> Movie Title </label>
                  <div class="control">
                    <input
                      type="text"
                      class="input"
                      placeholder="Happy Gilmore"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label"> Genre </label>
                  <div class="control">
                    <input type="text" class="input" placeholder="Comedy" />
                  </div>
                </div>
                <div class="wrapper">
                  <!--TAG SELECTOR - https://www.codingnepalweb.com/tags-input-box-html-javascript/-->
                  <!-- <div class="label">Subgenres</div>
                  <div class="content">
                    <p>Press enter or add a comma after each tag</p>
                    <ul>
                      <input type="text" spellcheck="false" />
                    </ul>
                  </div>
                  <div class="details">
                    <button>Remove All</button>
                  </div> -->
                  <!--End of Tag selector-->
                </div>
                <label class="label"> Platform </label>
                <div class="select">
                  <select>
                    <option>Netflix</option>
                    <option>Hulu</option>
                    <opion>Disney+</opion>
                    <option>HBO Max</option>
                  </select>
                </div>
                <div class="field">
                  <label class="label">Movie Info</label>
                  <div class="control">
                    <input
                      type="text"
                      class="input"
                      placeholder="Adam Sandler plays a hockey player who is secretly great at golf"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Movie Time (in Minutes)</label>
                  <div class="control">
                    <input type="text" class="input" placeholder="92" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Director</label>
                  <div class="control">
                    <input
                      type="text"
                      class="input"
                      placeholder="Dennis Dugan"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label">User Rating</label>
                  <div class="control">
                    <input type="text" class="input" placeholder="4.7" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Platform Rating</label>
                  <div class="control">
                    <input type="text" class="input" placeholder="3.9" />
                  </div>
                </div>
                <div id="file-js-example" class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="moviePoster" />
                    <span class="file-cta">
                      <span class="file-label"> Choose a file… </span>
                    </span>
                    <span class="file-name"> No file uploaded </span>
                  </label>
                </div>

                <script>
                  const fileInput = document.querySelector(
                    "#file-js-example input[type=file]"
                  );
                  fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                      const fileName = document.querySelector(
                        "#file-js-example .file-name"
                      );
                      fileName.textContent = fileInput.files[0].name;
                    }
                  };
                </script>
                <br />
                <div class="field">
                  <button class="button is-success has-background-danger">
                    Add Movie To Library
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
