<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Library</center></h1>
        <h1>{{ msg }}</h1>
        <form class="example" method="post" action="{{ url_for('searchmovie')}}" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by author or 
             book, or all to see all the data" name="movie">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        {% for info in movie %}
        <center></center>
            <tr>
                <td> {{info}}</td>
                </br>
            </tr>
        
        </center>
        {% endfor %}
    </body>
</html>